{% set title = "Home page" %} 
{% extends "layouts/_layout.html" %}

{% block content %}
<h1>Starter</h1>

<h2>Parts</h2>
<ul>
  <li><a href="parts.html">Page</a></li>
</ul>

<h2>Pages</h2>
<ul>
  <li><a href="typo.html">Typography</a></li>
  <li><a href="grid.html">Grid</a></li>
  <li><a href="tables.html">Tables</a></li>
  <li><a href="form.html">Form Elements</a></li>
</ul>

<h2>Components</h2>
<ul>
  <li><a href="components.html#breadcrumbs">Breadcrumbs</a></li>
  <li><a href="components.html#rating">Rating</a></li>
  <li><a href="components.html#card">Card</a></li>
  <li><a href="#">Navs</a></li>
</ul>
{% endblock %}
