{% set title = "Parts" %}
{% extends "layouts/_two-columns.html" %}
{% import "components/_card.html" as card %} 

{% block content %}
<h1>Parts</h1>
<section class="component">
  <h2>Page</h2>
  <p><code>page</code> - main block class.</p>
  <p><code>stretch</code> - push page full height.</p>
  <p><code>main</code> - main area.</p>
  <p><code>header</code> - header area.</p>
  <p><code>sticky</code> - make header sticky.</p>
  <p><code>footer</code> - footer area.</p>
  <p><code>narrow</code> - make content narrow.</p>
</section>
<section class="component">
  <h2>Grid</h2>
  <p><code>row</code> - row.</p>
  <p><code>column</code> - column.</p>
  <p><code>mainColumn</code> - mainColumn.</p>
  <p><code>asideColumn</code> - asideColumn.</p>
</section>
{% endblock %}

{% block aside %}
<h2>Parts</h2>
<ul>
  <li><a href="#">Page</a></li>
  <li><a href="#">Grid</a></li>
</ul>
{% endblock %}