<header class="page__header page__header--sticky">
  <div class="page__narrow">
    <div class="navbar">
      <a href="/" class="logo">Starter</a>
      <nav>
        <ul class="nav">
          <li class="nav__item"><a href="parts.html" class="nav__link">Parts</a></li>
          <li class="nav__item"><a href="/" class="nav__link">Pages</a></li>
          <li class="nav__item"><a href="components.html" class="nav__link">Components</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
