section.component
  h2#component-breadcrumbs Breadcrumbs
  p Breadcrumbs component includes structured data in microdata format.
  nav.breadcrumbs
    ol.breadcrumbs__list(itemscope, itemtype='http://schema.org/BreadcrumbList')
      li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a.breadcrumbs__title(itemprop='item', href='#')
          span(itemprop='name') Home
        meta(itemprop='position', content='1')
      li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a.breadcrumbs__title(itemprop='item', href='#')
          span(itemprop='name') Crumb Two
        meta(itemprop='position', content='2')
      li.breadcrumbs__item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        a.breadcrumbs__title(itemprop='item', href='#')
          span(itemprop='name') Crumb Three
        meta(itemprop='position', content='3')
      li.breadcrumbs__item.breadcrumbs__item--current(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
        span.breadcrumbs__title(itemprop='name') Current Crumb
        meta(itemprop='position', content='4')