doctype html
html(lang="en")
  include head.pug
  body

    block header
      include header.pug

    block main
      .page-main
        block content

    block footer
      include footer.pug

    block js
      script(src='https://code.jquery.com/jquery-1.8.3.min.js')
      script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')
      //- script(src="js/vendor/jquery-ui.min.js")
      //- script(src="js/vendor/swiper.jquery.min.js")
      script(src="js/main.js")
