doctype html
html(lang="en")
  include head.pug
  body.page.page--full
    
    block header
      include header.pug

    block main
      .page-main.page-main--full
        block content

    block footer
      include footer.pug

    block js
      //- script(src="js/main.js")
