// Labels
label {
  display: block;
  font-size: 14px;
  line-height: 1.79;
  .form-field--inline > & {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }
}

// Form Controls
.form-control {
  border: 1px solid @dark-gray;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  width: 100%;
  height: 32px;
  &:focus {
    // border-color: fade(@primary-color, 50%);
    outline: 1px solid @dark-gray;
  }
  .placeholder(#000);
}

// Form Fields
.form-field {
  margin-bottom: 10px;
  position: relative;
}

// Fieldset
fieldset {
  border: 1px solid @dark-gray;
  margin: 0 0 10px;
}
.inline-group > label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
