// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// Paragraphs
p {
  font-size: inherit;
  line-height: @paragraph-lineheight;
  margin-bottom: @paragraph-margin-bottom;
  text-rendering: @paragraph-text-rendering;
}

// Emphasized text
em,
i {
  font-style: italic;
  line-height: inherit;
}

// Strong text
strong,
b {
  font-weight: @global-weight-bold;
  line-height: inherit;
}

// Small text
small {
  font-size: @small-font-size;
  line-height: inherit;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @header-font-family;
  font-weight: @header-font-weight;
  color: @header-color;
  text-rendering: @header-text-rendering;
  margin-top: 0;
  margin-bottom: @header-margin-bottom;
  line-height: @header-lineheight;

  small {
    color: @header-small-font-color;
    line-height: 0;
  }
}

// Links
a {
  color: @anchor-color;
  text-decoration: @anchor-text-decoration;
  line-height: inherit;
  cursor: pointer;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: @anchor-color-hover;
  }

  img {
    border: 0;
  }
}

// Horizontal rule
hr {
  max-width: @global-width;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid @medium-gray;
  border-left: 0;
  margin: 1rem auto;
  clear: both;
}

// Lists
ul,
ol,
dl {
  line-height: @paragraph-lineheight;
  margin-bottom: @paragraph-margin-bottom;
  list-style-position: outside;
}

// List items
li {
  font-size: inherit;
}

// Unordered lists
ul {
  list-style-type: disc;
  margin-left: 1.25rem;
}

// Ordered lists
ol {
  margin-left: 1.25rem;
}

// Nested unordered/ordered lists
ul, ol {
  & & {
    margin-left: 1.25rem;
    margin-bottom: 0;
  }
}

// Definition lists
dl {
  margin-bottom: 1rem;

  dt {
    font-weight: @global-weight-bold;
    margin-bottom: 0.3rem;
  }
}

// Blockquotes
blockquote {
  border-left: 1px solid @medium-gray;
  margin: 0 0 @paragraph-margin-bottom;
  padding: 0.5625rem 1.25rem 0 1.1875rem;

  &, p {
    line-height: @paragraph-lineheight;
    color: @dark-gray;
  }
}

// Citations
cite {
  color: @dark-gray;
  display: block;
  font-size: 0.82rem;;

  &:before {
    content: '\2014 \0020';
  }
}

// Abbreviations
abbr {
  color: @global-font-color;
  cursor: help;
  border-bottom: 1px dotted @black;
}

// Code
code {
  background-color: @light-gray;
  border: 1px solid @medium-gray;
  font-family: @font-family-monospace;
  font-weight: @global-weight-normal;
  color: @black;
  padding: 0.125rem 0.3125rem 0.0625rem;
}

// Keystrokes
kbd {
  background-color: @light-gray;
  color: @black;
  font-family: @font-family-monospace;
  margin: 0;
  padding: 0.125rem 0.25rem 0;
}
