// Global
@global-font-size: 100%;
@global-width: 1200px;
@global-font-color: @black;
@body-background: @white;

// Fonts
@sans-serif-fonts: Helvetica, Arial, sans-serif;
@serif-fonts: "Times New Roman", Times, serif;
@font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
@global-font-family: @sans-serif-fonts;

// Colos
@primary-color: #009688;
@secondary-color: #777;
@success-color: #3adb76;
@warning-color: #ffae00;
@alert-color: #ec5840;
@light-gray: #e6e6e6;
@medium-gray: #cacaca;
@dark-gray: #8a8a8a;
@black: #000;
@white: #fff;

// Typography
@paragraph-lineheight: 1.6;
@paragraph-margin-bottom: 1rem;
@paragraph-text-rendering: optimizeLegibility;
@small-font-size: 82%;
@header-font-family: @global-font-family;
@header-color: inherit;
@header-text-rendering: optimizeLegibility;
@header-margin-bottom: 0.5rem;
@header-lineheight: 1.4;
@header-small-font-color: @medium-gray;
@anchor-color: @primary-color;
@anchor-color-hover: darken(@anchor-color, 20%);
@anchor-text-decoration: none;

// Media
// -------------------------
@small-mobile:         ~'(min-width: 360px)';
@mobile:               ~'(min-width: 480px)';
@max-mobile:           ~'(max-width: 479px)';
@mobile-portrait:      ~'(min-width: 480px) and (max-width: 767px)';
@tablet:               ~'(min-width: 768px)';
@max-tablet:           ~'(max-width: 767px)';
@tablet-landscape:     ~'(min-width: 1024px)';
@max-tablet-landscape: ~'(max-width: 1023px)';
@tablet-portrait:      ~'(min-width: 768px) and (max-width: 1023px)';
