{% macro field(name, label='Label', value='', type='text') %}
<div class="formField">
  <label for="{{ name }}">{{ label | escape }}</label>
  <input class="formControl" type="{{ type }}" name="{{ name }}" id="{{ name }}" 
        placeholder="{{ label | escape }}" value="{{ value | escape }}">
</div>
{% endmacro %}

{% macro textarea(name, label='Label', rows='3') %}
<div class="formField">
  <label for="{{ name }}">{{ label | escape }}</label>
  <textarea class="formControl" name="{{ name }}" id="{{ name }}" rows="{{ rows }}"
            placeholder="{{ label | escape }}"></textarea>
</div>
{% endmacro %}

{% macro selectField(name, label='Label', selected='', options='') %}
<div class="formField formField--select">
  <label for="{{ name }}">{{ label | escape }}</label>
  <select class="formControl formControl--select" name="{{ name }}" id="{{ name }}" >
    {% if selected %}
    <option selected disabled value="default">{{ selected }}</option>
    {% endif %}
    {% for option in options %}
    <option value="{{ option.value }}">{{ option.title }}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}

{% macro checkboxField(name, label='Label', checked='') %}
<label class="formField formField--checkbox">{{ label | escape }}
  {% if checked %}
  <input type="checkbox" name="{{ name }}" id="{{ name }}" checked>
  {% else %}
  <input type="checkbox" name="{{ name }}" id="{{ name }}">
  {% endif %}
  <span class="checkbox">
    <svg width="10" height="7" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M3.86 5.523l-2.766-2.804c-.202-.205-.534-.205-.736 0-.199.201-.199.525 0 .726l2.788 2.83c.392.398 1.035.397 1.426-.002l5.074-5.177c.196-.2.196-.521 0-.721-.202-.206-.534-.206-.736 0l-5.05 5.148z"/></svg>
  </span>
</label>
{% endmacro %}

{% macro radio(name, label='Label', checked='', id='', value='') %}
<label class="formField formField--radio">{{ label | safe }}
  {% if checked %}
  <input type="radio" name="{{ name }}" id="{{ id }}" value="{{ value }}" checked>
  {% else %}
  <input type="radio" name="{{ name }}" id="{{ id }}" value="{{ value }}">
  {% endif %}
  <span class="radio"></span>
</label>
{% endmacro %}
