extends pug/main.pug
block title
  title Starter

block content
  .page-section 
    ul
      li
        a(href="typo.html") Typography
    h2 Components
    ul
      li
        a(href="components.html#component-breadcrumbs") Breadcrumbs
      li
        a(href="components.html#component-rating") Rating