extends pug/main.pug
block title
  title Starter

block content
  h1 h1 This is html/css project starter
  h2 h2. This is a large header.
  h3 h3. This is a medium header.
  h4 h4. This is a moderate header.
  h5 h5. This is a small header.
  h6 h6. This is a tiny header.

  p This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content—so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Use the <code>&lt;strong&gt;</code> and <code>&lt;em&gt;</code> tags to denote text that should be displayed or read with emphasis. Browsers will <strong>bold</strong> and <em>italicize</em> the words, while screen readers will read them with <em>emphasis</em>.

  p Links are very standard, and the color is preset to the primary color. <a href="./">This is demo link.</a>

  hr

  ul
    li List item with a much longer description or more content.
    li List item
    li List item
      ul
        li Nested list item
        li Nested list item
        li Nested list item
    li List item
    li List item
    li List item

  ol
    li Cheese (essential)
    li Pepperoni
    li Bacon
      ol
        li Normal bacon
        li Canadian bacon
    li Sausage
    li Onions
    li Mushrooms

  dl
    dt Time
    dd The indefinite continued progress of existence and events in the past, present, and future regarded as a whole.
    dt Space
    dd A continuous area or expanse that is free, available, or unoccupied.
    dd The dimensions of height, depth, and width within which all things exist and move.

  blockquote Those people who think they know everything are a great annoyance to those of us who do.
    cite Isaac Asimov

  p In my dream last night, I saw <abbr title="John Ronald Reuel">J. R. R.</abbr> Tolkien and George <abbr title="Raymond Richard">R. R.</abbr> Martin hanging out on Sunset <abbr title="Boulevard">Blvd</abbr>.

  p Remember to escape angle brackets when printing HTML: <code>&lt;div&gt;</code>

  p Press <kbd>Cmd+Q</kbd> (or <kbd>Ctrl+Q</kbd> on Windows) to play Half-Life 3.
